services:

  app:
    build: .
    container_name: cashgame_app
    restart: always
    env_file: .env
    ports:
      - "80:8000"
    volumes:
      - .:/app
    command: >
      poetry run gunicorn -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8000
      --workers 4
      --forwarded-allow-ips "*"
      main:app
