<ul class="list-group">
    {% for member, role in members %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <span class="fw-bold">{{ member.nick or member.email }}</span>
            <br>
            <small class="text-muted">
                {% if role == TeamRole.ADMIN %}
                <span class="badge bg-danger">Admin</span>
                {% elif role == TeamRole.BOOK_KEEPER %}
                <span class="badge bg-warning text-dark">Book Keeper</span>
                {% else %}
                <span class="badge bg-secondary">Member</span>
                {% endif %}
            </small>
        </div>

        <div>
            {% if role != TeamRole.ADMIN %}
            {% if role == TeamRole.BOOK_KEEPER %}
            <form hx-post="/team/{{ team.id }}/player/{{ member.id }}/role" hx-target="#manageOperatorsContent"
                hx-trigger="click">
                <input type="hidden" name="role" value="MEMBER">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Demote</button>
            </form>
            {% else %}
            <form hx-post="/team/{{ team.id }}/player/{{ member.id }}/role" hx-target="#manageOperatorsContent"
                hx-trigger="click">
                <input type="hidden" name="role" value="BOOK_KEEPER">
                <button type="submit" class="btn btn-sm btn-outline-success">Promote</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>