<!-- Header -->
{% if not game.running or show_balance %}
{% set col_player = "col-4" %}
{% set col_in = "col-2" %}
{% set col_out = "col-2" %}
{% set col_balance = "col-4" %}
{% else %}
{% set col_player = "col-4" %}
{% set col_in = "col-4" %}
{% set col_out = "col-4" %}
{% endif %}

<ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
        <div class="row fw-bold text-center">
            <div class="{{ col_player }} text-start">Player</div>
            <div class="{{ col_in }}">In</div>
            <div class="{{ col_out }}">Out</div>
            {% if not game.running or show_balance %}
            <div class="{{ col_balance }}">Balance</div>
            {% endif %}
        </div>
    </li>

    <!-- Players -->
    {% for info in players_info %}

    <li class="list-group-item">
        <div class="row text-center align-items-center">
            <div class="{{ col_player }} text-start">
                {% if info.owner%}
                <b>{{ info.player.nick }} (host)</b>
                {% else %}
                {{ info.player.nick }}
                {% endif %}
            </div>

            <div class="{{ col_in }}">
                {% if game.running and info.request_type == 'add_on' %}
                {% if user in info.can_approve %}
                <a href="{{ info.request_href }}" class="btn btn-sm btn-outline-danger" title="{{ info.request_text }}">
                    <i class="bi bi-exclamation-circle-fill"></i> Add-on
                </a>
                {% else %}
                <span class="badge bg-secondary" title="{{ info.request_text }}">
                    Add-on
                </span>
                {% endif %}
                {% else %}
                {% if info.money_in % 1 %}
                {{ "%.2f"|format(info.money_in) }}
                {% else %}
                {{ info.money_in|int }}
                {% endif %}
                {% endif %}
            </div>
            <div class="{{ col_out }}">
                {% if game.running and info.request_type == 'cash_out' %}
                {% if user in info.can_approve %}
                <a href="{{ info.request_href }}" class="btn btn-sm btn-outline-danger" title="{{ info.request_text }}">
                    <i class="bi bi-exclamation-circle-fill"></i> Cash-out
                </a>
                {% else %}
                <span class="badge bg-secondary" title="{{ info.request_text }}">
                    Cash-out
                </span>
                {% endif %}
                {% else %}
                {% if info.money_out is not none %}
                {% if info.money_out % 1 %}
                {{ "%.2f"|format(info.money_out) }}
                {% else %}
                {{ info.money_out|int }}
                {% endif %}
                {% else %}
                -
                {% endif %}
                {% endif %}
            </div>

            {% if not game.running or show_balance %}
            <div class="{{ col_balance }} {% if info.balance < 0 %}text-danger{% else %}text-success{% endif %}">
                {{ "%.2f"|format(info.balance) }}
            </div>
            {% endif %}

        </div>
    </li>
    {% endfor %}
</ul>